* {
    scroll-behavior: smooth;
}

:root {
    --bg-color: #282c34;
    --bg-secondary-color: #20232a;
    --font-dark-color: #333;   
    --font-white-color: #fff;
    --logo-color: #6cc3d9;
}

.bg-white {
    background: var(--font-white-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--bg-color);
}

/* Utility */
.img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.25s ease-in;
    color: #282c34;
}

.bg-nav-dark {
    background: var(--bg-secondary-color);
}

.container {
    width: 98%;
    max-width: 1200px;   
    margin: 0px auto;
}

.container-width-1000 {
    max-width: 1000px;
}

.container-width-1300 {
    max-width: 1300px;
}

.container-width-1400 {
    max-width: 1400px;
}

.container-width-1500 {
    max-width: 1500px;
}

.btn-home {
    display: inline-block;
    padding: 0.75em 2em;
    margin: 1em 0;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}

.btn-primary-home {
    background: var(--logo-color);
    color: var(--bg-secondary-color);
}

.btn-home:hover {
    background: var(--bg-secondary-color);
}

.text-m {
    font-size: 1.25rem;
}

.text-yellow {
    color: var(--logo-color);
}

.text-white {
    color: var(--font-white-color);
}

.text-dark {
    color: #333;
}

.tagline {
    width: 50%;
    text-align: center;
}

.border-radius-10 {
    border-radius: 10px;
}

/* Homepage Navbar */
.navbar{
    justify-content: space-between;
}

.bg-nav-dark {
    position: sticky;
    background: var(--bg-color);
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-white-color);
}

.navbar ul {
    display: flex;
    padding: 1.5rem 0;
}

.navbar ul li a {
    margin-left: 2.5rem;
    font-size: 1.25rem;
}

/* Main */
.main {
    background: var(--bg-color);
    height: 90vh;
}

.main .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Footer */
.footer {
    background: var(--bg-secondary-color);
    padding: 1.5rem 0;
    text-align: center;
    color: var(--font-white-color);
}

.footer span {
    vertical-align: middle;
}

/* Docs CSS*/

.docs .container {
    display: grid;
    grid-template-columns: 1fr 6fr;
}

.sidebar ul {
    position: fixed;
    top: 100px;
}

.sidebar ul li {
    padding: 0.5rem 0;
}

.sidebar ul li a{
    font-weight: 600;
    font-size: larger;
    transition: all 0.25s ease-in;
}

.sidebar ul li a:hover{
    color: var(--bg-color);
    border-bottom: 3px solid var(--logo-color);
}

.docs-content {
    padding: 2rem;    
    width: 80%;
}

.active {
    border-bottom: 3px solid var(--logo-color);
}

/* Alerts */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.flex-all-center {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.height-100 {
    height: 100vh;
}

.alert {
    padding: 1rem 0.5rem;
    width: fit-content;
    border-radius: 10px;
}

.m025 {
    margin: 0.25rem 0;
}

.m1 {
    margin: 1.5rem 0;
}

.m2 {
    margin: 2rem 0;
}

.m3 {
    margin: 3rem 0;
}

.m-1 {
    margin: 1.5rem
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mx-1 {
    margin: 0 1rem;
}

.my-1 {
    margin: 1rem 0;
}

.p025 {
    padding: 0.25rem;
}

.p1 {
    padding: 1rem;
}

.p-1 {
    padding: 1rem 0;
}



.alert-success {
    color: green;
    background: rgba(75, 175, 75, 0.5);
}

.alert-warning{
    color: #B91C1C;
    background: #FEE2E2; 
}

.alert-info {
    color: #1D4ED8;
    background: #DBEAFE;
}

/* Avatars */
.avatar {
    width: 50px;
    border-radius: 50%;
    position: relative;
}

.avatar-status-dnd {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 30px;
    background: red;
}

.avatar-status-online {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 30px;
    background: green;
}

.avatar-status-offline {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    left: 30px;
    background: grey;
}

/* Badges */
.badges-div {
    display: flex;
    position: relative;
}

.badge-icon {
    position: relative;   
}

.badge-icon p {
    position: absolute;
    top: 0px;
    left: 65%;
    font-size: 1rem;
    background: #F87171;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    
}

/* Buttons */
.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.125rem;
    transition: all 0.5 ease-in;
}

.btn:hover {
    background: powderblue;
    color: #333;
}

.width-100 {
    width: 100%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.btn-primary {
    color: var(--font-white-color);
    background: var(--bg-color);
}

.btn-outline {
    background: none;
    border: 1px solid var(--bg-color);
}

.btn-red {
    background: #EF4444;
    color: var(--font-white-color);
}

.btn-green {
    background: #059669;
    color: var(--font-white-color);
}

/* Cards */
.card {
    width: 200px;
    border-radius: 6px;
}

.strikethrough {
    text-decoration: line-through;
    font-weight: 300;
}

.position {
    position: relative;
}

.card-badge {
    position: absolute;
    top: 20px;
    left: 0px;
    background: #F87171;
    padding: 0.15rem;
    font-size: 12px;
    color: var(--font-white-color);
}

.horizontal-card {
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    border: 1px solid #333;
    padding: 1rem;
}

.horizontal-card img {
    width: 30%;
}

/* Input */
.input {
    padding: 0.75rem;
    font-size: 1.25rem;
    border: 1px solid #333;
    border-radius: 10px;
}

.input:focus {
    outline: none;
}

/* Navbar */
.nav-bg {
    background: var(--logo-color);
}

.nav-flex {
    display: flex;
    align-items: center;
}

/* .gap {
    gap: 1rem;
} */

.nav-flex ul{
    display: flex;
    padding: 1rem;
}

.nav-flex ul li a {
    color: #333;
}

.nav ul {
    display: flex;
    /* gap: 1rem; */
    align-items: center;
    padding: 1rem 0;
}

.nav ul{
    justify-content: center;
}

.nav-space-between {
    justify-content: space-between;
}

.nav ul li a {
    color: #333;
}

.nav-logo {
    width: 22px;
    align-self: center;
    margin-left: 1rem
}

/* Typography */
.text-xl { font-size: 3.5rem }
.text-l { font-size: 2rem }
.text-m { font-size: 1.5rem }
.text-s { font-size: 1rem }
.text-xs { font-size: 0.75rem }

.border {
    border: 1px solid #20232a;
}

.radius-5 {
    border-radius: 5px;
}