<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e4b9b8eb31.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../docs.css">
    <title>Flash UI - Add Styles in Flash Speed</title>
</head>
<body>
    <div class="bg-nav-dark">
        <div class="container">
            <nav class="navbar d-flex">
                <div class="logo">
                    <img style="width: 48px" src="../images/flash.svg" alt="Flash Logo">
                    <a href="/"><h2>Flash UI</h2></a>    
                </div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/docs.html">Docs</a></li>
                </ul>
                <ul>
                    <li><a href="">Github</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="docs">
        <div class="container">
            <div class="sidebar">
                <ul>
                    <li><a class="text-dark" href="../docs.html">Alerts</a></li>
                    <li><a class="text-dark" href="./avatar.html"">Avatars</a></li>
                    <li><a class="text-dark" href="./badges.html">Badges</a></li>
                    <li><a class="text-dark active" href="./buttons.html">Buttons</a></li>
                    <li><a class="text-dark" href="./cards.html">Cards</a></li>
                    <li><a class="text-dark" href="./input.html">Inputs</a></li>
                    <li><a class="text-dark" href="./modals.html">Modals</a></li>
                    <li><a class="text-dark" href="./navigation.html">Navigation</a></li>
                    <li><a class="text-dark" href="./typography.html">Typography</a></li>
                </ul>
            </div>

            <div class="docs-content">  
                <div class="flex">
                    <h1 class="buttons">Buttons</h1>
                    <p class="text-m ">Buttons are required for all the actions such as form submission, checkout, add to cart etc. To use a button add `btn` class to your button. In case you want to use any other button style, do it as shown in the code snippet below.</p>
                    <div>
                        <button class="btn btn-primary">Primary Button</button>
                        <button class="btn btn-outline">Secondary Button</button>

                        <iframe
                            src="https://carbon.now.sh/embed/2A4M7CvsvXaIjOfUYyXD"
                            style="width: 518px; margin-top: 1rem; height: 211px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                        </iframe>
                    </div>
                    <div class="m1">
                        <h1>Color Variants</h1>
                        <p class="text-m m1">You can also add some color variants.</p>
                        <button class="btn btn-red">Primary Button</button>
                        <button class="btn btn-green">Primary Button</button>
                    </div>

                    <iframe
                            src="https://carbon.now.sh/embed/KplNn6RxzVZdi6tRHu88"
                            style="width: 485px; height: 111px; border:0; transform: scale(1); overflow:hidden;"
                            sandbox="allow-scripts allow-same-origin">
                    </iframe>
                </div>         
            </div>
        </div>
    </div>

</body>
</html>